<%- include('./layout'); %>

</head>

<body>
<div id="mainContent">
  <div class="container">
    <h4><%= gettext("Clinician patient management interface") %></h4>
    <p><%= getext("You are currently administering %d patients", patients.length) %></p>
    <p><%= gettext("Your patients have taken a total of %d surveys", total) %></p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= gettext("First Name") %></th>
        <th><%= gettext("Last Name") %></th>
        <th><%= gettext("Email") %></th>
        <th><%= gettext("Survey Results") %></th>
      </tr>
      </thead>
      <tbody class="table-hover">
      <% for(var i = 0; i < patients.length; i++) { %>
      <tr>
        <td scope="row"><%= patients[i].firstName %></td>
        <td scope="row"><%= patients[i].lastName %></td>
        <td scope="row"><%= patients[i].username %></td>
        <td scope="row"><a href="/surveylist?id=<%= patients[i]._id %>"><%= gettext("View Past Survey results") %></a></td>
      </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
