<%- include('./layout', {title: title, favicon: favicon}); %>
<body>
<header role="banner">
  <%- include('./partials/navbar_accessible', {configUrl: configUrl, logoname: logoname}); %>
</header>


<!-- begin Main -->
<main role="main" aria-label="main section" id="main-content">
  <div class="container">
    <section role="contact form">
      <div class="row ">
        <div>
          <div class="contactUs">
            <h4>Contact Us</h4>
            <div class="contact">
              <ul class="list-no-style">

              <% if(locals.contactName) { %>
              <li class="address">
                <%-contactName%>
              </li>
              <% } %>

              <% if(locals.name) { %>
                <li class="address">
                  <%-name%>
                </li>
                <% } %>

                <% if(locals.officePhone) { %>
                <li class="phone">
                  <span aria-hidden="true"><i class="fa fa-mobile">&nbsp;&nbsp;</i></span><span
                    class="sr-only">mobile:</span><span class="addressText"><%= locals.officePhone%></span>
                </li>
                <% } %>


                <% if(locals.directPhone) { %>
                  <li class="phone">
                    <span aria-hidden="true"><i class="fa fa-phone">&nbsp;&nbsp;</i></span><span
                      class="sr-only">fax:</span><span class="addressText"><%= locals.directPhone%></span>
                  </li>

                <% } %>


                <% if(locals.email) { %>
                  <li class="email">
                    <span aria-hidden="true"><i class="fa fa-envelope">&nbsp;&nbsp;</i></span><span
                    class="sr-only">email:</span><span class="addressText"> <a href="mailto:<%=locals.email%>"><%=locals.email%></a></span>
                  </li>
                <% } %>

              </ul>


            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <% if(locals.googleMapUrl) { %>
    <div class="container navContainer google-maps">
      <iframe src="<%=locals.googleMapUrl%>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  <% } %>

</main>

<a href="#" class="scrollToTop" alt="Scroll To Top"><span class="sr-only">Scroll To Top</span></a>
<%- include('./partials/footer_accessible'); %>
<!-- end footer -->

<script src="/public/js/accessible/globalassets/scripts/assets.responsive.js"></script>
<script src="/public/js/accessible/share/4.0/js/sharewidget-4.0.js"></script>
<script type="text/javascript" src="/public/js/accessible/slick-1.5.7/slick.min.js"></script>
</body>
</html>
