<div  class="hidden" id="currentQuestionId"><%= questionId %></div>
<div  class="hidden" id="currentSectionId"><%= sectionId %></div>
<div  class="hidden" id="type"><%= type %></div>

<div>
  <div class="container" role="header and benefits">
    <section id="page-title">
      <div class="row">
        <div class="col-md-12">
          <h4 class="center"><%= title %></h4>
          <hr/>
        </div>
      </div>
    </section>
  </div>

  <div class="container bottomMargin50">
    <section id="benefits" class="col-md-6 col-md-offset-3" role="benefits">
        <p><%= text %></p>
    </section>
  </div>

</div>
