<%- include('./layout', {title: title, favicon: favicon}); %>
</head>
<body>
<header role="banner">
  <%- include('./partials/navbar_accessible', {configUrl: configUrl, logoname: logoname}); %>
</header>

<main role="main" aria-label="main section" id="main-content" action="#" data-validationgroup>
  <div class="login-container" id="forgotForm">
    <h4 class="center"><%= gettext("Reset Password") %></h4>
    <div class="forgot">
      <p class="center"><%= gettext("Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.") %> </p>
      <form id="formID">
        <div class="form-group required">
          <label for="username"><%= gettext("Username/Email: ") %><sup>*</sup></label>
          <input id="emailToReset" class="form-control" name="email"
                 data-validate="notBlank email"
                 placeholder="<%= gettext('Email') %>" size="20" type="text">
        </div>
      </form>
    </div>
    <div class="center link">
      <button id="submitReset" data-validationtrigger class="btn btn-primary"><%= gettext("Reset Password") %></button>
    </div>
    <div class="form-group center marginTop10">
      <br><a href="/login" class="forgot"><%g= gettext("Cancel") %></a>
    </div>
  </div>

</main>

<a href="#" class="scrollToTop" alt="Scroll To Top"><span class="sr-only"><%= gettext("Scroll To Top") %></span></a>
<%- include('./partials/footer_accessible'); %>
<!-- end footer -->

<script>
  $(document).ready(function(){
    $("#submitReset").click(function(){
      forgotPassword("<%= configUrl %>", $("#emailToReset")[0].value);
    });
  });

</script>
<%- include('./partials/formvalidator', {}); %>
<script src="/public/js/accessible/globalassets/scripts/assets.responsive.js"></script>
<script src="/public/js/accessible/share/4.0/js/sharewidget-4.0.js"></script>
<script type="text/javascript" src="/public/js/accessible/slick-1.5.7/slick.min.js"></script>
</body>
</html>
