<%- include('./layout', {title: title, favicon: favicon}); %>
<body>
<header role="banner">
    <%- include('./partials/navbar_accessible', {configUrl: configUrl, logoname: logoname}); %>
</header>

<!-- begin Main -->
<main role="main" aria-label="main section" id="main-content">
    <!--Your custom code goes here-->
    <div class="addressBox login-container" id="contactForm">
        <h4 class="center">Welcome Back!</h4>
        <div class="clearfix feedbackMSG1"></div>
        <div class="contact">
            <form id="formID">
                <div class="form-group">
                    <label class="form_label required" for="emailReady">Email:</label>
                    <input id="emailReady" class="form-control" type="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="passReady" class="form_label required">Password</label>
                    <input type="password" name="password" required class="form-control" id="passReady">
                </div>
                <button id="submitButton" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
    <div class="form-group center marginTop40">
        Don't have an account yet? <a href="/register">Please sign up</a>
    </div>
    <div class="form-group center marginTop10">
      Forgot your password? <a href="/forgot">Please click here</a>
    </div>
</main>

<a href="#" class="scrollToTop" alt="Scroll To Top"><span class="sr-only">Scroll To Top</span></a>
<%- include('./partials/footer_accessible'); %>
<script>
    $(function () {
        var basil = new window.Basil();
        var form = $('#submitButton').bind('click', submitHandler);

        function submitHandler(e) {
            e.preventDefault();

            var form = $("#emailReady")[0];
            //look at jquery for form handling and change the way value is obtained
            var usnm = form.value;
            var form2 = $("#passReady")[0];
            var pass = form2.value;
            $.ajax({
                type: 'POST',
                url: '<%= configUrl %>' + "/api/login",
                data: {
                    username: usnm,
                    password: pass
                },
                dataType: "text",
                success: function (data) {
                    basil.set('cookie', data);
                    if (JSON.parse(data).changePass) {
                      alertModal("Your Password Has Expired", "BYO-CAT users are required to change their password every 90 days. You will be emailed a code and redirected to the password reset form.", function() {
                        forgotPassword('<%= configUrl %>', usnm);
                      });
                    } else {
                      window.location.href = '<%= configUrl %>'+ "/survey/start";
                    }
                },
                error: function (request, status, error) {
                    var reply = request.responseText;
                    var replyText = (JSON.parse(reply));
                    alert(replyText.message);
                }
            });
        }
    });
</script>
<script src="/public/js/accessible/globalassets/scripts/assets.responsive.js"></script>
<script src="/public/js/accessible/share/4.0/js/sharewidget-4.0.js"></script>
<script type="text/javascript" src="/public/js/accessible/slick-1.5.7/slick.min.js"></script>
</body>
</html>
