<%- include('./layout', {title: title, favicon: favicon}); %>
<body>
<header role="banner">
  <%- include('./partials/navbar_accessible', {configUrl: configUrl, logoname: logoname}); %>
</header>

<!-- begin Main -->
<main role="main" aria-label="main section" id="main-content">
  <div class="container bottomMargin50" role="header and benefits">
    <section id="page-title">
      <div class="row">
        <div class="col-md-12">
          <h3>Please sign up for a new account</h3>
        </div>
      </div>
    </section>
  </div>

  <form class="container bottomMargin50" id="form1" action="#" data-validationgroup>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group required">
          <label class="demographic" for="firstName">First Name <sup>*</sup> </label>
          <input id="firstName" class="form-control required " maxlength="64" tabindex="1"
                 data-validate="notBlank firstName"
                 placeholder="First Name" size="20" type="text">
        </div>
        <div class="form-group ">
          <label class="demographic" for="middleName">Middle Name (optional)</label>
          <input id="middleName" class="form-control" maxlength="64"
                 data-validate="middleName" tabindex="2"
                 placeholder="Middle Name" size="20" type="text">
        </div>
        <div class="form-group required">
          <label class="demographic" for="lastName">Last Name <sup>*</sup> </label>
          <input id="lastName" data-validate="notBlank lastName" class="form-control required" maxlength="64"
                 tabindex="3"
                 placeholder="Last Name" size="20" type="text">

        </div>
        <div class="form-group required">
          <label class="demographic" for="email">Email (username) <sup>*</sup></label>
          <input id="email" data-validate="notBlank email" class="form-control required" maxlength="80"
                 tabindex="4" readonly
                 placeholder="Email" size="20" type="text">
        </div>
        <div class="form-group required">
          <label class="demographic" for="dateOfBirth">Date Of Birth<sup>*</sup> </label>
          <input class="form-control required" type="text" id="dateOfBirth" name="Date of birth" value=""
                 tabindex="5"
                 placeholder=MM/DD/YYYY aria-describedby="dateofbirthInfo" data-validate="notBlank date"/>
        </div>

        <div class="form-group required">
          <label class="demographic" for="password">Password <sup>*</sup></label>
          <input id="password" class="form-control required"
                 data-validate="notBlank validPassword"
                 type="password" tabindex="7"
                 placeholder="Type Password" size="20">

          <span id="passReq1">Lowercase ,</span>
          <span id="passReq2">Uppercase ,</span>
          <span id="passReq3">Numbers ,</span>
          <span id="passReq4">Special Characters ,</span>
          <span id="passReq5">Length >= 10</span>
        </div>

        <div class="form-group required">
          <label class="demographic" for="confpass">Confirm Password <sup>*</sup></label>
          <input id="confpass" class="form-control"
                 data-validate="notBlank confirmPass"
                 type="password" tabindex="8"
                 placeholder="Retype password" size="20">
        </div>


      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group required">

          <div class="form-group required">
            <label class="demographic" for="phoneNumber">Phone Number<sup>*</sup> </label>
            <input class="form-control required" type="text" id="phoneNumber" name="Phone Number" value=""
                   tabindex="9"
                   placeholder="1xxxxxxxxxx" aria-describedby="phoneNumberinfo" data-validate="notBlank phoneNumber"/>
          </div>

          <label class="demographic" for="gender">How do you describe yourself? (check one)<sup>*</sup> </label>
          <div class="wrapper-custom-dropdown">
                  <span><select id="gender" data-validate="notBlank gender" tabindex="10" class="custom-dropdown">
                  <option value="null">Select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other/Prefer not to respond</option>

                  </select></span>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/question_renderer_signup', {questions: dynamicQuestions}); %>

    <div>
      <label class="demographic" for="comments">Comments (optional) </label>
      <textarea id="comments" class="form-control" maxlength="255" placeholder="Special Instructions" type="text"
                tabindex="19"
                wrap="soft"></textarea>
    </div>

    <button id="form1Sbm" data-validationtrigger tabIndex="21" class="btn btn-primary">Sign Up</button>
  </form>

</main>

<a href="#" class="scrollToTop" alt="Scroll To Top"><span class="sr-only">Scroll To Top</span></a>
<%- include('./partials/footer_accessible'); %>
<!-- end footer -->

<script>
  $(document).ready(function () {

    $("#email").val("<%=emailToFill%>");
    $("#form1Sbm").click(function () {
      submitHandlerPatient("<%= configUrl %>");
    });

    var modalBody = $(".modal-body");
    $('#password').blur(checkPasswordRequirements);

    //HACK ALERT, based on requirement to not select multiracial if any race is checked.
    console.log("doc ready...");
    $(".multi-select-other :checkbox").change(function (e) {
      console.log("Executing race question restriction");
      if ($(this)[0].id != "race_type_6") {

        if ($(".multi-select-other :checkbox").is(":checked")) {
          $('#race_type_6')[0].disabled = true;
        } else {
          $('#race_type_6')[0].disabled = false;
        }
      }
      else {
        if ($('#race_type_6').is(":checked")) {
          $(".multi-select-other :checkbox").each(function (index, e) {
            console.log(e);
            if (e.id != "race_type_6") {
              e.disabled = true;
            }
          });

        } else {
          //re-enable rest
          $(".multi-select-other :checkbox").each(function (e) {
            $(this)[0].disabled = false;
          });
        }
      }
    })
  });
</script>

<!-- JAVASCRIPT FILES -->
<!-- FORM VALIDATION -->
<script src="public/js/formvalidatorconfig.js"></script>
<script src="public/js/formvalidator.js"></script>
</body>
</html>
