<%- include('./layout', {title: title, favicon: favicon}); %>
<header role="banner">
  <%- include('./partials/navbarWelcome_accessible', {name: name, configUrl: configUrl, logoname: logoname}); %>
</header>

<!-- begin Main -->
<main role="main" aria-label="main section" id="main-content">
  <!--Your custom code goes here-->
  <div class="container" id="surveyIdContainer">
    <div><%= gettext("Survey Id:") %></div>
    <div id="surveyId"><%= createdSurveyId %></div>
  </div>
  <div id="question-error" class="hidden error container">
    <div class="span12 error">
      <strong><sup>*</sup> <%= gettext("Please select one of the options below or press Skip to proceed") %></strong>
    </div>
  </div>
  <div id="template_head">
    <div id="questionnaire" class="container">
      <h4><%= gettext("Before we begin the questionnaire, please answer the following questions") %></h4><br>
      <div id="answer-error" class="text-center hidden error row-fluid">
        <div class="span12 error"><strong><sup>*</sup> <%= gettext("Please answer all the questions below to proceed") %></strong></div>
      </div>
      <br>
      <%- include('./partials/question_renderer', {browserLocales: browserLocales}); %>
    </div>
  </div>

  <!--Buttons Section-->
  <div id="button-panel-with-skip" class="hidden container skip-panel">
    <div class="col-md-2">
      <button id="skipButton" data-style="slide-left" data-color="blue"
              class=" btn btn-primary component_center ladda-button"><span class="ladda-label"><%= gettext("Skip") %></span></button>
    </div>
    <div class="col-md-6">
      <button id="nextButtonWithSkip" data-style="slide-left" data-color="blue"
              class="btn btn-primary component_center ladda-button"><span class="ladda-label"><%= gettext("Next") %></span></button>
    </div>
  </div>

  <div id="button-panel-without-skip" class="container skip-panel">
    <div class="col-md-12">
      <button id="nextButtonWithoutSkip" data-style="slide-left" data-color="blue"
              class="btn btn-primary ladda-button"><span class="ladda-label"><%= gettext("Next") %></span></button>
    </div>
  </div>
</main>

<a href="#" class="scrollToTop" alt="Scroll To Top"><span class="sr-only"><%= gettext("Scroll To Top") %></span></a>
<%- include('./partials/footer_accessible'); %>

<script src="/public/js/spin.min.js"></script>
<script src="/public/js/ladda.min.js"></script>
<script src="/public/js/table2csv.js"></script>
<script src="/public/js/jspdf.min.js"></script>


<script>

  function storeUserData(laddaInstance, serverUrl, questionsLength) {

    var inputsAnswered = $('input[type="text"]').filter(function () {
      return !!this.value;
    }).length;

    var radiosAnswered = $(':radio:checked').size();

    var numAnswered = radiosAnswered + inputsAnswered;
    if (numAnswered < questionsLength) {

      //do not proceed if any of these values null
      $("#answer-error").show();
      $("#answer-error").removeClass('hidden');
      laddaInstance.stop();
      return;
    }

    var basil = new window.Basil();
    var cookie = basil.get('cookie');
    var userId = JSON.parse(cookie).session.userId;

    var demographicInfo = {}


    for (var i = 0; i < radiosAnswered; i++) {
      //get values from divs and prepare userdata hash
      demographicInfo[$(":radio:checked")[i].name] = $(":radio:checked")[i].value;
    }

    for (var i = 0; i < radiosAnswered; i++) {
      //get values from divs and prepare userdata hash
      demographicInfo[$(":radio:checked")[i].name] = $(":radio:checked")[i].value;
    }


    console.log("demographics hash is:");
    console.log(demographicInfo);
    demographicInfo["surveyId"] = $("#surveyId")[0].innerText;

    $("#answer-error").hide();

    $.ajax({
      type: 'POST',
      url: serverUrl + "/survey/storeuserdata",
      data: {
        userData: JSON.stringify(demographicInfo),
        userId: userId
      },
      datatype: 'html',
      beforeSend: function (xhr) {
        xhr.setRequestHeader('Authorization', cookie.authHeader);
      },
      success: function (data) {
        //replace innerhtml with this
        $("#template_head")[0].innerHTML = data;
        // kill the button once the page is loaded
        laddaInstance.stop();
      },
      error: function (request, status, error) {
        var reply = request.responseText;
        var replyText = (JSON.parse(reply));
        alert(replyText.message);
      }
    });
  }


  $("#questionnaire").on("callsuccess", function (evt, response) {
    console.log("event has been triggered");
    loadChartsWithDummyData();
  });

  $("#chartButton").on("click", function () {
    var basil = new window.Basil();
    var cookie = basil.get('cookie');

    var userId = JSON.parse(cookie).session.userId;
    var dataToSend = {userID: userId};

    $.ajax({
      type: 'GET',
      url: '<%= configUrl %>' + "/survey/getCharts",
      data: dataToSend,
      datatype: 'html',
      success: function (data) {
        $("#questionnaire")[0].innerHTML = data;
        //Now trigger event
        $("#questionnaire").trigger("callsuccess");

      },
      error: function (request, status, error) {
        var reply = request.responseText;
        var replyText = (JSON.parse(reply));
        console.log(replyText.message);
      }
    });
  });

  $("#nextButtonWithSkip").on("click", function () {
    nextClickHandler("#nextButtonWithSkip", "<%= configUrl %>",<%= questions.length %>);
  });

  $("#nextButtonWithoutSkip").on("click", function () {
    nextClickHandler("#nextButtonWithoutSkip", "<%= configUrl %>",<%= questions.length %>);
  });

  $("#skipButton").on("click", function () {
    var l = Ladda.create($('#skipButton')[0]);
    l.start();
    $("#question-error").addClass('hidden');
    //Skip is only shown for a question
    getNextQuestion(l, true, "<%= configUrl %>");
  });
</script>
<script src="/public/js/accessible/globalassets/scripts/assets.responsive.js"></script>
<script src="/public/js/accessible/share/4.0/js/sharewidget-4.0.js"></script>
<script type="text/javascript" src="/public/js/accessible/slick-1.5.7/slick.min.js"></script>
</body>
</html>
