<!-- NAVIGATION BAR -->
<div class="container navContainer">

  <a class="skip-navigation sr-only sr-only-focusable" href="#page-title"><%= gettext("Skip Navigation") %></a>
  <div class="row">
    <div class="navbar-header active">
      <a>
        <img src="/public/images/<%=logoname%>" class="mainLogo img-responsive"
             alt="<%=logoname%>" role="logo">
        <span class="sr-only"> selected</span></a>
    </div>
    <nav class="collapse navbar-collapse" aria-label="Main navigation" id="topNavList" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right marginTop40" aria-expanded="false">
        <li><a href="/"><%= gettext("Home") %></a></li>
        <li><a href="/register"><%= gettext("Register") %></a></li>
        <li><a href="/contact"><%= gettext("Contact Us") %></a></li>
        <li><a href="/login"><%= gettext("Login") %></a></li>
      </ul>
    </nav>

  </div>
  <noscript>
    <p id="js-off-message">
      <%= gettext("The page could not be loaded. The BYO-CAT Project " +
      "does not fully support browsers with &quot;JavaScript&quot; disabled. Please note " +
      "that if you choose to continue without enabling &quot;JavaScript&quot; certain functionalities " +
      "on this website may not be available.") %>
    </p>
  </noscript>
</div>
