<!-- NAVIGATION BAR -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="nav-collapse collapse" id="topNavList" role="navigation">
      <div>
        <ul class="titleFont nav pull-right" aria-labelledby="topNavList">
          <li><a href="/"><%= gettext("Home") %></a></li>
          <li id="startsurvey"><%= gettext("Start Survey") %></li>
          <li><a href="/contact"><%= gettext("Contact Us") %></a></li>
          <li id="logout"><%= gettext("Logout") %></li>
        </ul>
        <p class="sub-title titleFont nav username" id="nav"><%= gettext("Hello, %s!", name) %></p>
      </div>
    </div>
  </div>
  <div class="nav-bottom-border"></div>
  <noscript>
    <p id="js-off-message">
      <%= gettext("The page could not be loaded. The BYO-CAT Project " +
      "does not fully support browsers with &quot;JavaScript&quot; disabled. Please note " +
      "that if you choose to continue without enabling &quot;JavaScript&quot; certain functionalities " +
      "on this website may not be available.") %>
    </p>
  </noscript>
</div>

<script>
  $(function () {
    var basil = new window.Basil();
    var cookie = JSON.parse(basil.get('cookie'));

    $("#logout").on("click", function () {
      $.ajax({
        type: 'DELETE',
        url: '<%= configUrl %>' + "/api/logout",
        datatype: 'jsonp',
        beforeSend: function (xhr) {
          xhr.setRequestHeader('Authorization', cookie.authHeader);
        },
        success: function (data) {
          basil.remove('cookie');
          window.location.href = '<%= configUrl %>';
        },
        error: function (request, status, error) {
          var reply = request.responseText;
          var replyText = (JSON.parse(reply));
          alert(replyText.message);
        }
      });
    });

    $("#startsurvey").on("click", function () {
      $.ajax({
        type: 'GET',
        datatype: 'html',
        beforeSend: function (xhr) {
          xhr.setRequestHeader('Authorization', cookie.authHeader);
        },
        success: function (data) {
          window.location.href = '<%= configUrl %>' + "/survey/start";
        },
        error: function (request, status, error) {
          var reply = request.responseText;
          var replyText = (JSON.parse(reply));
          alert(replyText.message);
        }
      });

    });

  });

</script>
