<% for(var i = 0; i < questions.length; i++) { %>
<div id=<%= questions[i].group %> class="bottomMargin50 question-box" >
  <div class="row bottomMargin15">
    <div class="demographic col-md-6 col-md-offset-1"><%= questions[i].questionText %></div>
  </div>

  <% if (questions[i].type == "input-only") { %>
  <div class="demographic row bottomMargin15">
    <div class="col-md-6 col-md-offset-1">
      <input type="text"
             name=<%= questions[i].responseOptions[0].name %> data-validate="<%= questions[i].dataValidate %>"
             id=<%= questions[i].responseOptions[0].id %> tabindex="<%= questions[i].tabindex %>"/>
    </div>
  </div>
  <% } %>

  <% if (questions[i].type == "radio-only") { %>
  <% for(var j = 0; j < questions[i].responseOptions.length; j++) { %>
  <radiogroup>
    <div class="demographic row bottomMargin15">
      <div class="col-md-6 col-md-offset-1">
        <input type="radio" group=<%= questions[i].group %>
        name=<%= questions[i].responseOptions[j].name %> id=<%= questions[i].responseOptions[j].id %>
               tabindex="<%= questions[i].tabindex %>" value= <%= questions[i].responseOptions[j].value %> />
        <label for=<%= questions[i].responseOptions[j].id %> class="padding-right-1"
               class="padding-right-1"><%= questions[i].responseOptions[j].displayText %></label>
      </div>
    </div>
  <% } %>

  <% if (questions[i].type == "radio-only") { %>
    <radiogroup>
      <% for(var j = 0; j < questions[i].responseOptions.length; j++) { %>
        <div class="demographic row bottomMargin25">
          <div class="col-md-6">
            <input type="radio"
                   group="<%= questions[i].group %>"
                   name="<%= questions[i].responseOptions[j].name %>"
                   id="<%= questions[i].responseOptions[j].id %>"
                   value="<%= questions[i].responseOptions[j].value %>" />
            <label for="<%= questions[i].responseOptions[j].id %>"
                   class="padding-right-1"><%= questions[i].responseOptions[j].displayText %></label>
          </div>
        </div>
      <% } %>
    </radiogroup>
  <% } %>

  <% if (questions[i].type == "radio-other") { %>
  <% for(var j = 0; j < questions[i].responseOptions.length; j++) { %>
  <radiogroup>
    <div class="demographic row bottomMargin15">
      <div class="col-md-6 col-md-offset-1">
        <input type="radio" group=<%= questions[i].group %>
        name=<%= questions[i].responseOptions[j].name %> id=<%= questions[i].responseOptions[j].id %>
               value= <%= questions[i].responseOptions[j].value %> tabindex="<%= questions[i].tabindex %>"/>
        <label for=<%= questions[i].responseOptions[j].id %> class="padding-right-1"
               class="padding-right-1"><%= questions[i].responseOptions[j].displayText %></label>
      </div>
    </div>
  </radiogroup>
  <% } %>
  <div class="demographic row bottomMargin15">
    <div class="col-md-6">
      <input type="text" name="other_" + + <%= questions[i].responseOptions[j - 1].name %> id="other-input"
        %>
      />
    </div>
  </div>

  <% } %>

  <% if (questions[i].type == "multi-select-other") { %>
  <div class="<%= questions[i].type %> bottomMargin50">
    <% for(var j = 0; j < questions[i].responseOptions.length; j++) { %>
    <div class="demographic row bottomMargin15">
      <div class="col-md-6 col-md-offset-1">
        <input type="checkbox" group=<%= questions[i].group %>
        name=<%= questions[i].responseOptions[j].name %> id=<%= questions[i].responseOptions[j].id %>
               tabindex="<%= questions[i].tabindex %>" value= <%= questions[i].responseOptions[j].value %> />
        <label for=<%= questions[i].responseOptions[j].id %> class="padding-right-1"
               class="padding-right-1"><%= questions[i].responseOptions[j].displayText %></label>
      </div>
    </div>
    <% } %>

  </div>
  <div class="demographic row bottomMargin15">
    <div class="col-md-6">
      <input type="text" name="other_" + <%= questions[i].responseOptions[j - 1].name %> id="other-input" />
    </div>
  </div>

  <% } %>

  <% if (questions[i].type == "multi-select") { %>
  <div class="<%= questions[i].type %> bottomMargin50">
    <% for(var j = 0; j < questions[i].responseOptions.length; j++) { %>
    <div class="demographic row bottomMargin15">
      <div class="col-md-6 col-md-offset-1">
        <input type="checkbox" group=<%= questions[i].group %>
        name=<%= questions[i].responseOptions[j].name %> id=<%= questions[i].responseOptions[j].id %>
               tabindex="<%= questions[i].tabindex %>" value= <%= questions[i].responseOptions[j].value %> />
        <label for=<%= questions[i].responseOptions[j].id %> class="padding-right-1"
               class="padding-right-1"><%= questions[i].responseOptions[j].displayText %></label>
      </div>
    <% } %>

  </div>
  <% } %>

  <% if (questions[i].type == "simple-select") { %>
    <div class="wrapper-custom-dropdown">
      <span>
        <select id="gender" tabindex="<%= questions[i].tabindex %>" class="custom-dropdown-demographics demographic col-md-6 col-md-offset-1 padding-right-1 margin-bottom-20">
          <% for(var j = 0; j < questions[i].responseOptions.length; j++) { %>
          <option name=<%= questions[i].responseOptions[j].name %> value=<%= questions[i].responseOptions[j].value %> ><%= questions[i].responseOptions[j].displayText %> </option>
          <% } %>
        </select>
      </span>
    </div>
  <% } %>

  <% if (questions[i].type == "multi-question-radio") { %>
      <% for(var k = 0; k < questions[i].subQuestions.length; k++) { %>
        <div class="<%= questions[i].type %> bottomMargin50 row">
          <div class="marginLeft2">
            <% for(var k = 0; k < questions[i].subQuestions.length; k++) { %>
              <div class="demographic col-md-6 col-md-offset-1 bottomMargin15"><%= questions[i].subQuestions[k].questionText %></div>
              <% for(var j = 0; j < questions[i].subQuestions[k].responseOptions.length; j++) { %>
                  <radiogroup>
                    <div class="demographic col-md-6 col-md-offset-1 bottomMargin15">
                      <div class="">
                        <input type="radio" group=<%= questions[i].group %>
                        name=<%= questions[i].subQuestions[k].responseOptions[j].name %> id=<%= questions[i].subQuestions[k].responseOptions[j].id %>
                               value= <%= questions[i].subQuestions[k].responseOptions[j].value %> tabindex="<%= questions[i].subQuestions[k].tabindex %>"/>
                        <label for=<%= questions[i].subQuestions[k].responseOptions[j].id %> class="padding-right-1"
                               class="padding-right-1"><%= questions[i].subQuestions[k].responseOptions[j].displayText %></label>
                      </div>
                    </div>
                  </radiogroup>
              <% } %>
            <% } %>
          </div>
        </div>
      <% } %>
  <% } %>

<% } %>
